body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d3d3d3; /* Fondo gris mate */
}

header {
    height: 150px;
    background-color: #ffffff; /* Fondo blanco */
    color: #808080; /* Letras en color gris */
    text-align: center;
    padding: 1rem;
}

main {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.catalog .product {
    background-color: #ffffff; /* Fondo blanco para el cuadro de producto */
    padding: 1rem; /* Espacio interno alrededor del contenido */
    margin: 1rem; /* Espacio externo alrededor del cuadro */
    border-radius: 8px; /* Bordes redondeados, opcional */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera, opcional */
    text-align: center; /* Centrar el texto dentro del cuadro */
}

.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.product {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.product p {
    margin: 0.5rem 0;
}

.price {
    color: green;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

img {
    width: 140px;
    height: 140px;
}

.titulo {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
}

.titulo img {
    margin-right: 10px; /* Añade espacio entre el logo y el texto */
}
